{% extends 'layout.html' %}

{% load staticfiles %}

{% block home %}
    
        <section>
            <div class="container about center">
                <h2>Sobre nós</h2>
                <p>bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, reiciendis?</p>
            </div>
        </section>
        <section>
            <div class="container methodoly center">
                <h2>Como a Trampo Ágil ajuda no processo de candidatura?</h2>
                <p>Prazos totalmente flexiveis</p>
                <div class="container-card">
                    <div class="card center">
                        <img src="" alt="">
                        <h3>Candidatura</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis adipisci aut aspernatur excepturi consequatur magnam cumque saepe aperiam consectetur perspiciatis?</p>
                    </div>
                    <div class="card center">
                        <img src="" alt="">
                        <h3>Entrevista</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam repellendus iusto quam rem iste laudantium quod commodi sed corrupti officiis.</p>
                    </div>
                    <div class="card center">
                        <img src="" alt="">
                        <h3>Análise</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nesciunt est molestias esse cumque, impedit hic perspiciatis pariatur culpa facere?</p>
                    </div>
                    <div class="card center">
                        <img src="" alt="">
                        <h3>Feedback</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci labore commodi aut est illo repellendus amet optio asperiores maxime molestiae?</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}