{% extends 'layout.html' %}

{% load staticfiles %}

{% block home %}
    
        <section>
            <div class="container about center">
                <h2>Sobre nós</h2>
                <p>Conectando recrutadores e candidatos de forma ágil.
                    Nossa proposta é viabilizar candidaturas às vagas de maneira ágil, quebrando o silêncio e a espera por retornos e/ou
                    feedbacks.</p>
            </div>
        </section>
        <section>
            <div class="container methodoly center">
                <h2>Como a Trampo<span>Ágil</span>  ajuda no processo de candidatura?</h2>
                <p>Prazos totalmente flexiveis</p>
                <div class="container-card">
                    <div class="card center">
                        <img src="{% static '../static/img/newspaper.png' %}" alt="" width="60" height="60">
                        <h3>Candidatura</h3>        
                        <p>- O candidato: se candidata à vaga a qualquer momento dentro da janela de candidatura</p>
                        <p>- Etapa inicial do workflow de processo seletivo</p>
                        <p>- A empresa: disponibiliza a vaga com um prazo pré-definido de expiração (sugestão - 30 a 60 dias)</p>
                        <p>- Ao fim do prazo, a empresa deve informar se o candidato será entrevistado ou não
                        </p>
                    </div>
                    <div class="card center">
                        <img src="{% static '../static/img/briefcase.png' %}" alt="" width="60" height="60">
                        <h3>Entrevista</h3>
                        <p>- Segunda etapa, caso o candidato passe pela etapa inicial</p>
                        <p>- A empresa: agenda data, horário e local de entrevista (sugestão: até 2 semanas após aceite da candidatura)</p>
                        <p>- O candidato: comparece à entrevista (ou entrevistas)</p>
                        <p>- Ao fim do prazo, o workflow segue automaticamente para Análise</p>
                    </div>
                    <div class="card center">
                        <img src="{% static '../static/img/data.png' %}" alt="" width="60" height="60">
                        <h3>Análise</h3>
                        <p>- Terceira etapa, após entrevistas</p>
                        <p>- A empresa: analisa a candidatura e define quem será contratado (sugestão: entre 1 e 2 semanas após entrevistas)</p>
                        <p>- O candidato: aguarda a análise, sabendo que a empresa entrará em contato até determinado dia</p>
                        <p>- Ao fim do prazo, a empresa deve seguir para o status de feedback</p>
                    </div>
                    <div class="card center">
                        <img src="{% static '../static/img/investment.png' %}" alt="" width="60" height="60">
                        <h3>Feedback</h3>
                        <p>- Última etapa, finalizando o fluxo de processo seletivo</p>
                        <p>- A empresa: expõe o feedback ao candidato, contratando-o ou não </p>
                        <p>- O candidato: aceita a contratação ou se candidata à outras vagas</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}