{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entrar</title>
    <link defer rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">

<body>
   

    <div class="divLoginForm">
    <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
        <form action="." method="POST">

            <div class="ana2">

                <div class="ana">
             
                    <h1>Login</h1>
                    <input type="text" name="" id="">
                    <input type="password" name="" id="">
                    <button> <a href="{% url 'vagas' %}">Entrar</a> </button>

                </div>
            </div>

        </form>
    </div>
</body>
</html>
